/Exercício em Sala/JavaSorts/build/
/Exercício em Sala/JavaSortSearch2023/nbproject/private/
/Exercício em Sala/JavaSortSearch2023-main/JavaSortSearch2023-main/build/
/Exercício em Sala/JavaSortSearch2023-main/JavaSortSearch2023-main/nbproject/private/
/Exercício em Sala/JavaSortSearch2023-main/nbproject/private/
/Exercício em Sala/JavaSortSearch2023-main/build/
/Exercício em Sala/JavaSortSearch2023/dist/